@import "settings";
@import "foundation";
@import "lesson";
@import "quiz";
@import "controlpanel";

.logo {
  height: 40px;
  width: 40px;
  padding: 0px;
  margin: 0px;
}

.site-title {
  color: white;
}

.site-menu {
  height: 50px;
}

.site-menu > li > a {
  font-size: 16px;
  padding: 16px;
}

footer {
  padding: 1rem;
  background-color: darken(rgb(241, 241, 241), 4);
  width: 100%;
  margin: 0px;
}

footer > p {
  margin-bottom: 0.5rem;
}

footer > p, a {
  font-size: 12px;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.highlight {
  opacity: 0.7;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(204, 204, 204);
}

.progress-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: $primary-color;
  animation: progress-load 1s ease;
}

@keyframes progress-load {
  0% { width: 0%; }
}

.progress-label {
  text-align: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 25px;
  line-height: 50px;
  color: white;
}

.shadow-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 0px;
  margin: 0px;
}

.active {
  background: smartscale($primary-color, 7%);
  font-weight: bold;
}
