@import "settings";
@import "foundation";
@import "lesson";
@import "quiz";
@import "controlpanel";

.logo {
  height: 40px;
  width: 40px;
  padding: 3px;
}

.template-button {
  position: fixed;
  top: 50%;
  border-radius: 0px 10px 10px 0px;
  padding-right: 3px;
  padding-left: 3px;
}

.template-button span {
  writing-mode: tb-rl;
  //padding: 1rem 0px 1rem 0px;
  padding: 0px;
  margin: 0px;
}

.template-close {
  margin: auto;
  margin-top: 15px;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.highlight {
  opacity: 0.7;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(204, 204, 204);
}

.progress-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: $primary-color;
  animation: progress-load 1s ease;
}

@keyframes progress-load {
  0% { width: 0%; }
}

.progress-label {
  text-align: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 25px;
  line-height: 50px;
  color: white;
}

.shadow-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 0px;
  margin: 0px;
}

.active {
  background: smartscale($primary-color, 7%);
  font-weight: bold;
}
