
.lesson-content {
  width: 75%;
  margin: auto;
  border: 1px solid $gray;
  padding: 25px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 15px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

  /* Modify style for small screens */
  @include breakpoint(portrait){
    margin: 0;
    width: 100%;
    border-radius: 0px;
    min-width: 0;
  }
}
.lesson-container {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 5rem;
  @include breakpoint(portrait){
    padding-top: 10px;
  }
}

.lesson-button {
    margin: 0 auto;
}
