.quiz {
  display: flex;
  width: 75%;
  margin: auto;
  padding: 0px;

  @include breakpoint(portrait){
    width: 100%;
  }
}

.quiz-panel {
  display: flex;

  margin: 0px;
  margin-top: 40px;
  margin-bottom: 40px;

  border: 1px solid $gray;
  padding: 25px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 15px;

  min-width: 580px;
  /*max-width: 1000px;*/
  /* Modify style for small screens */
  @include breakpoint(portrait){
    width: 100%;
    border-radius: 0px;
    min-width: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.quiz-text {
  padding: 10px;
  background-color: #ffffe6;
  border-radius: 5px;
}

.quiz-button {
  width: 20%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  @include breakpoint(portrait){
    width: 30%;
  }
}

.quiz-content-container {
  margin: auto;
  width: 80%;
  @include breakpoint(portrait){
    width: 100%;
  }
}

.quiz-sortable-container {
  display: flex;
  margin: auto;
  margin-bottom: 2rem;
  min-width: 480px;
  min-height: 360px;

  padding: 10px;

  background-color: $body-background;
  border: 1px solid $gray;
  border-radius: 5px;

  box-shadow: inset 0px 1px 5px #888888;

  @include breakpoint(portrait){
    min-width: 0;
    width: 100%;
  }
}

.quiz-sortable-block {

  margin: 5px 1px 0px 1px;
  padding: 3px;
  padding-bottom: 0px;


  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 5px #888888;
}

.quiz-sortable-block.correct {
  border: 1px solid $success-color;
  box-shadow: 0px 1px 5px $success-color;
}

.quiz-sortable-block.incorrect {
  border: 1px solid $fail-color;
  box-shadow: 0px 1px 5px $fail-color;
}

.quiz-sortable-block.submitted {
  background-color: lighten($body-background, 2);
}

.quiz-sortable-block.submitted > h5 {
  color: $gray-darker;
}

.sortable {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
.sortable li {
  float: left;
  font-size: 4em;
  text-align: center;
}

.sortable-highlight {
  background-color: orange;
  height: 1.5em;
  line-height: 1.2em;
}

.quiz-hint {
}

.quiz-hint-locked {
  /*background: repeating-linear-gradient(
    135deg,
    $gray-dark, $gray-dark .125em,
    #f3f3f3 0, #f3f3f3 .75em
  );
  */
    background-color: $gray;
    border: 1px solid $gray-dark;
    padding: 1rem;
}

.quiz-hint-locked p {
    margin: 0px;
    margin-right: 0.5rem;
    line-height: 16px;
}


.quiz-modal-button {
  margin: auto;
  margin-top: 15px;
}

.quiz-submit-modal {
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}



.quiz-nav {
  display: flex;
  width: 75%;
  height: 80px;
  border: 1px solid $gray;
  margin: auto;
  padding: 25px;
  padding-top: 10px;
  border-radius: 15px;
  background-color: white;
  min-width: 580px;
  /* Modify style for small screens */
  @include breakpoint(portrait){
    width: 100%;
    border-radius: 0px;
    min-width: 0;
  }
}

.quiz-nav-left {
  padding-right: 2rem;
}

.quiz-nav-right {
  padding-left: 2rem;
}

.quiz-nav-button {
  margin-top: 5px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
