---
name: admin
url: /admin
title: Admin
controller: AdminController as vm
---
<!--<link data-require="bootstrap-css@3.3.7" data-semver="3.3.7" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
<div class="grid-block align-spaced">
  <div ng-if="!vm.authenticated">
    <p class="text-center no-perm">No permission</p>
  </div>
  <div ng-if="vm.authenticated" class="control-panel">
    <h2>Admin Control Panel</h2>
    <hr>
    <ul class="primary menu-bar admin-menu">
      <li><a id="1-btn" ng-click="vm.changeState(vm.StateEnum.RESULTS)">View Quiz Results</a></li>
      <li><a id="2-btn" ng-click="vm.changeState(vm.StateEnum.CLASSROOMS)">Manage Classrooms</a></li>
      <li><a id="3-btn" ng-click="vm.changeState(vm.StateEnum.CITATIONS)">Manage Citations</a></li>
    </ul>
    <br>

    <div class="quiz-results" ng-if="vm.state === vm.StateEnum.RESULTS">
      <h4>Quiz Results</h4>
      <table st-table="results" class="table table-striped">
    		<thead>
      		<tr>
            <th st-sort="classroom"> Classroom</th>
      			<th st-sort="firstName">First name</th>
      			<th st-sort="lastName">Last Name</th>
      			<th st-sort="score">Score</th>
            <th st-sort="email">Email</th>
      			<th st-sort="balance">Timestamp</th>
      		</tr>
    		</thead>
    		<tbody>
      		<tr ng-repeat="row in vm.results">
      			<td>{{row.classroom | uppercase}}</td>
      			<td>{{row.name_first}}</td>
      			<td>{{row.name_last}}</td>
      			<td>{{row.score}}</td>
            <td>{{row.email}}</td>
            <td>{{row.submission_timestamp | date:'medium'}}</td>
      		</tr>
    		</tbody>
    		<tfoot>
    			<tr>
    				<td colspan="5" class="text-center">
    					<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
    				</td>
    			</tr>
    		</tfoot>
	   </table>
    </div>

    <div class="manage-classrooms" ng-if="vm.state === vm.StateEnum.CLASSROOMS">
      <h4>Classrooms</h4>
      <table st-table="classrooms" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="classroom">Classroom</th>
            <th st-sort="results">Results</th>
            <th st-sort="remove">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.classrooms">
            <td>{{row.id | uppercase}}</td>
            <td><a href="#!/classroom?id={{row.key}}">View results</a></td>
            <td><a ng-click="vm.delClassroom(row.id)">Remove</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
            </td>
          </tr>
        </tfoot>
     </table>
       <button class="button success" id="addClassroom" ng-click="vm.addClassroom()">Add Classroom</button>
    </div>

    <div class="manage-citations" ng-if="vm.state === vm.StateEnum.CITATIONS">
      <h4>Citations</h4>
      <table st-table="citations" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="citation">Citation</th>
            <th st-sort="blocks">Blocks</th>
            <th st-sort="intext">Intext Ref.</th>
            <th st-sort="edit">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.citations">
            <td>{{row.title}}</td>
            <td ng-bind-html="vm.renderHtml(row.blocks.join(' '))"></td>
            <td ng-bind-html="vm.renderHtml(row.intext_answers[0])"></td>
            <td><a ng-click="vm.beginEditingCitation(row.id)" zf-open="editCitationModal">Edit</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
            </td>
          </tr>
        </tfoot>
     </table>
    </div>
  </div>
</div>

<!-- Edit Citation Modal  -->
<div zf-modal="" id="editCitationModal" animation-in="slideInUp" animation-out="slideOutUp">
  <h3 class="text-center">Edit Citation</h3>
  <br>
  <form class="grid-content scroll-modal" name="editCitationForm" ng-submit="vm.putCitation()">
    <label>
      Title
      <input type="text" id="citation_title" value="{{vm.currentCitation.title}}" required>
    </label>

    <label>
      Blocks
      <label class="text-group" ng-repeat="block in vm.currentCitation.blocks track by $index">
        <span class="inline-label">
          <input type="text" id="citation_block{{$index}}" class="citation-block" value="{{block}}">
          <span class="form-label"><a ng-click="vm.removeCitationBlock($index)">X</a></span>
        </span>
      </label>
      <button type="button" class="button small success" ng-click="vm.addCitationBlock()">Add Block</button>
    </label>

    <label>
      Intext Info
        <input type="text" id="intext_info" value="{{vm.currentCitation.intext_info}}">
    </label>

    <label>
      Index Answers
      <label class="text-group" ng-repeat="answer in vm.currentCitation.intext_answers track by $index">
        <span class="inline-label">
          <input type="text" id="intext_answer{{$index}}" class="citation-answer" value="{{answer}}">
          <span class="form-label"><a ng-click="vm.removeIntextAnswer($index)">X</a></span>
        </span>
      </label>
      <button type="button" class="button small success" ng-click="vm.addIntextAnswer()">Add Answer</button>
    </label>

    <label>
      Hints
      <label class="text-group" ng-repeat="hint in vm.currentCitation.hints track by $index">
        <span class="inline-label">
          <input type="text" id="hint{{$index}}" class="citation-hint" value="{{hint}}">
          <span class="form-label"><a ng-click="vm.removeHint($index)">X</a></span>
        </span>
      </label>
      <button type="button" class="button small success" ng-click="vm.addHint()">Add Hint</button>
    </label>

    <label>
      Final Text
        <input type="text" id="end_text" value="{{vm.currentCitation.end_text}}">
    </label>


    <div class="grid-block align-center">
      <div class="grid-content shrink">
        <input type="submit" class="button" value="Submit">
      </div>
      <div class="grid-content shrink">
        <a zf-close="" class="button" style="background-color: #F04124">Close</a>
      </div>
    </div>
  </form>
</div>

<zf-notification-set id="submit-notification" position="top-right"></zf-notification-set>
