---
name: lesson
url: /
title: Lesson
---
<div class="vertical grid-block">
  <div class="lesson-container">
    <div class="lesson-content">
      <div class="vertical grid-block">

        <!-- Lesson content -->
        <h2 style="text-align:center">MLA 8th Edition Citation Practice</h2>
        <hr>
        <div class="grid-content">
          <img src="/assets/img/mla.png" align="right" hspace="20" vspace="20" width="20%" height="20%"/>
          <p>This drag and drop activity will allow you to practice building citations using the
            template provided by the Modern Language Association. The 8th edition of the MLA
            now suggests that a standardized template be used to build all citations.</p>
          <p>Instructions- You will be provided with a number of attempts to practice how to correctly
            organize the components of a citation. You will drag and drop each part of the citation
            into the correct order. <b>Remember to use the link to the MLA 8th edition template on the 
            header ribbon of your screen to help you. </b> Hints will be provided to you. Be aware checking
            hints will deduct marks from your final score on this activity.</p>
          <p>You will also be given instructions to help you create an in-text citation you would use
            when quoting or paraphrasing from the same source. You must type in an answer in the
            in-text citation box provided. This in-text citation will also be graded.</p>
          <p>Once you have completed either 10 or 20 citations/in-text citations you will click <b>submit 
            quiz</b> to see your final mark. Please ask the Teacher-Librarian for your 6 character 
            classroom ID to use so that your mark can be properly submitted to your teachers.</p>
        </div>
        <hr>

        <a class="large button lesson-button" href="#!/quiz" style="height:50px;margin:auto">Begin Quiz</a>

      </div>
    </div>
  </div>
</div>
