---
name: lesson
url: /
title: Lesson
---
<div class="vertical grid-block">
  <div class="lesson-container">
    <div class="lesson-content">
      <div class="vertical grid-block">

        <!-- Lesson content -->
        <h2 style="text-align:center">MLA 8th Edition Citation Practice</h2>
        <hr>
        <div class="grid-content">
          <img src="/assets/img/book.png" align="right" hspace="20" vspace="20"/>
          <p>This drag and drop activity will allow you to practice how to properly build citations using the template provided by the Modern Language Association. The 8th edition of the MLA suggests that a standardized template be used to build all citations. Every citation will change dependent upon the information that is available from each resource.</p>
          <p>Instructions- You will be provided with a number of attempts to practice correctly organizing the components of a citation. Refer to the template which can be found by clicking on the tab on the left hand side of your screen. If you need help, hints will be provided to you. Be aware checking hints will affect your final score on this activity. You will also be prompted to complete an in-text citation that would be used when quoting or paraphrasing from the source you have just cited. This in-text citation will also be graded.</p>
          <p>Once you have completed this online practice you will see your final mark. You are responsible for emailing your results to your teacher(s) and if you choose, also yourself.</p>
        </div>
        <hr>

        <a class="large button lesson-button" href="#!/quiz" style="height:50px;margin:auto">Begin Quiz</a>

      </div>
    </div>
  </div>
</div>
