---
name: quiz
url: /quiz
title: Quiz
controller: QuizController as vm
---

<!-- Page content -->
<div class="vertical grid-block">
  <!-- Wraps quiz horizontally. Loops but only displays the current citation -->
  <div class="grid-content quiz" ng-repeat="citation in vm.quiz.citations" ng-if="vm.citationIndex === $index" class="slideInRight slideOutRight">

    <div class="quiz-panel">
      <!-- Citation content -->
      <div class="quiz-content-container">
        <h2 class="text-center">{{citation.title}}</h2>
        <hr>
        <h4 class="text-center">Works Cited Reference</h4>

        <div class="quiz-sortable-container">
          <ul class="sortable" id="sortable{{$index}}">
            <li class="quiz-sortable-block" ng-repeat="block in citation.blocks track by $index">
              <h3 ng-bind-html="vm.renderHtml(block.text)" id="{{block.id}}"></h3>
            </li>
          </ul>
        </div>

        <p class="text-center quiz-text">{{citation.intext_info}}</p>
        <label>
          <span class="inline-label" style="margin: auto; width:20%; min-width:200px">
            <span class="form-label">(</span>
            <input type="text" id="intext">
            <span class="form-label">).</span>
          </span>
        </label>


        <!-- Buttons -->
        <div class="grid-block horizontal align-spaced" style="padding-top: 20px">

          <button zf-open="hints{{$index}}" class="large button success quiz-button" id="hintsBtn{{$index}}">Hints</button>
          <button zf-open="submitModal" class="large button quiz-button" id="submitBtn{{$index}}">Submit</button>

          <button class="large button warning quiz-button" id="checkBtn{{$index}}" ng-click="vm.check()">Check</button>
        </div>
      </div>
    </div>

  </div>

  <!-- Nav bar -->
  <div class="quiz-nav">
    <div class="grid-block horizontal">

      <div class="grid-content shrink" style="padding-top: 15px">
        <a class="quiz-nav-left">
          <img zf-iconic="" icon="chevron" data-direction="left" size="medium" ng-click="vm.prevCitation()">
        </a>
      </div>

      <div class="grid-block align-spaced">

        <!--Progress bar-->
        <div class="grid-content" ng-if="!(vm.citationIndex + 1 === vm.quiz.citations.length && vm.everythingSubmitted())">
          <progress style="margin-top: 15px; margin-bottom: 1px;" value="{{vm.citationIndex + 1}}" max="{{vm.quiz.citations.length}}"></progress>
          <p class="text-center" style="color: #686868; margin-bottom: 1px">{{vm.citationIndex + 1}}/{{vm.quiz.citations.length}}</p>
        </div>
        <!--Quiz submit button-->
        <span ng-if="vm.citationIndex + 1 === vm.quiz.citations.length && vm.everythingSubmitted()">
          <button zf-open="submitQuizModal" class="large button quiz-nav-button">Submit Quiz</button>
          <button ng-if="vm.citationsLeft()" ng-click="vm.addCitations()" class="large button quiz-nav-button">Continue Practicing</button>
        </span>

      </div>

      <div class="grid-content shrink" style="padding-top: 15px">
        <a class="quiz-nav-right">
          <img zf-iconic="" icon="chevron" data-direction="right" size="medium" ng-click="vm.nextCitation()">
        </a>
      </div>

    </div>
  </div>

</div>

<!-- Hints modal -->
<div ng-repeat="citation in vm.quiz.citations" zf-modal="" id="hints{{$index}}" animation-in="slideInUp" animation-out="slideOutUp">
  <div class="grid-block vertical">

    <!--Unlocked hints accordion-->
    <zf-accordion auto-open="false" collapsible="true">
      <zf-accordion-item ng-repeat="hint in citation.hints track by $index" ng-if="hint.unlocked" title="Hint {{$index+1}}" id="hint{{$index}}">
        <p>{{hint.text}}</p>
      </zf-accordion-item>
    </zf-accordion>

    <!--Locked hints-->
    <div class="quiz-hint-locked" ng-repeat="hint in citation.hints track by $index" ng-if="!hint.unlocked">
      <div class="grid-block" style="padding: 0; margin: 0">
        <p>Hint {{$index+1}}</p>
        <img zf-iconic="" icon="lock" size="small" class="iconic-color-alert">
      </div>
    </div>

    <a zf-close="hints{{$index}}" class="button quiz-modal-button">Close</a>

  </div>
</div>

<!-- Submit quiz modal -->
<div zf-modal="" id="submitQuizModal" animation-in="slideInUp" animation-out="slideOutUp">
  <div class="grid-block vertical">

    <!-- Quiz submission form -->
    <span ng-show="!vm.quiz.submitted">
      <h3 class="text-center">Submit Quiz</h3>
      <br>
      <form id="submitQuizForm" ng-submit="vm.submitQuiz()">
        <label>
          First Name
          <input type="text" id="quizsubmit-name_first" placeholder="Enter First Name" required>
        </label>
        <label>
          Last Name
          <input type="text" id="quizsubmit-name_last" placeholder="Enter Last Name" required>
        </label>
        <label>
          Email
          <input type="email" id="quizsubmit-email" placeholder="Enter your email" required>
        </label>
        <label>
          Teacher Email(s) (Seperated by commas)
          <input type="email" id="quizsubmit-teacher_emails" placeholder="Enter email(s)" multiple>
        </label>

        <div class="grid-block align-center">
          <div class="grid-content shrink">
            <input type="submit" class="button quiz-modal-button" value="Submit">
          </div>
          <div class="grid-content shrink">
            <a zf-close="submitQuizModal" class="button quiz-modal-button" style="background-color: #F04124">Cancel</a>
          </div>
        </div>
      </form>
    </span>

    <!-- Quiz results -->
    <span ng-show="vm.quiz.submitted">
      <h3 class="text-center">Quiz Submitted</h3>
      <p class="text-center quiz-text">An email with your results has been sent to you and your teachers.</p>
      <br>
      <h4 class="text-center">Final Score</h4>
      <!-- Score progress bar -->
      <div class="progress-container" ng-if="vm.quiz.results.score > 0">
        <div class="progress-bar" style="width:{{vm.quiz.results.score}}%; background-color:{{vm.quiz.results.color}}">
          <div class="progress-label">{{vm.quiz.results.score}}%</div>
        </div>
      </div>
      <div class="progress-container" ng-if="vm.quiz.results.score === 0">
        <div class="progress-bar" style="width:100%; background-color:{{vm.quiz.results.color}}">
          <div class="progress-label">{{vm.quiz.results.score}}%</div>
        </div>
      </div>

      <div class="grid-block align-center">
        <div class="grid-content shrink">
          <a ng-click="vm.navigateToLesson()" class="button quiz-modal-button" style="background-color: #F04124">Close</a>
        </div>
      </div>
    </span>

  </div>
</div>

<!-- Submit confirmation -->
<div  zf-modal="" class="quiz-submit-modal tiny dialog" overlay-close="false" id="submitModal" animation-in="slideInUp" animation-out="slideOutUp">
  <div class="grid-block vertical">
    <div class="grid-content">
      <h3> Submit Citation? </h3>
      <h5> Once you submit, you will not be able to edit your answer.</h5>
    </div>
    <div class="grid-block align-center">
      <div class="grid-content shrink">
        <a zf-close="submitModal" ng-click="vm.submit()" zf-open="finalModal" class="button quiz-modal-button">Submit</a>
      </div>
      <div class="grid-content shrink">
        <a zf-close="submitModal" class="button quiz-modal-button" style="background-color: #F04124">Cancel</a>
      </div>
    </div>
  </div>
</div>

<!-- Final citation modal -->
<div zf-modal="" id="finalModal" animation-in="slideInUp" animation-out="slideOutUp">
  <div class="grid-block vertical">
    <h3 class="text-center">Score</h3>

    <!-- Score progress bar -->
    <div class="progress-container" ng-if="vm.quiz.citations[vm.citationIndex].score > 0">
      <div class="progress-bar" style="width:{{vm.quiz.citations[vm.citationIndex].score}}%; background-color:{{vm.quiz.citations[vm.citationIndex].score_color}}">
        <div class="progress-label">{{vm.quiz.citations[vm.citationIndex].score}}%</div>
      </div>
    </div>
    <div class="progress-container" ng-if="vm.quiz.citations[vm.citationIndex].score === 0">
      <div class="progress-bar" style="width:100%; background-color:{{vm.quiz.citations[vm.citationIndex].score_color}}">
        <div class="progress-label">{{vm.quiz.citations[vm.citationIndex].score}}%</div>
      </div>
    </div>


    <br>
    <p>{{vm.quiz.citations[vm.citationIndex].end_text}}</p>

    <div class="grid-block align-center">
      <div class="grid-content shrink">
        <a zf-close="finalModal" ng-click="vm.nextCitation()" class="button quiz-modal-button">Continue</a>
      </div>
    </div>

  </div>
</div>

<!-- Check confirmation -->
<div zf-modal="" class="quiz-submit-modal small dialog" overlay-close="false" id="checkModal" animation-in="slideInUp" animation-out="slideOutDown">
  <div class="grid-block vertical">
    <div class="grid-content">
      <h3> Check Answer? </h3>
      <h5> Checking your answer unlocks a hint and highlights the incorrectly placed citation blocks, but comes with a <b>10%</b> penalty to your score.</h5>
    </div>
    <div class="grid-block align-center">
      <div class="grid-content shrink">
        <a zf-close="checkModal" ng-click="vm.checkBypass()" class="button quiz-modal-button">Check</a>
      </div>
      <div class="grid-content shrink">
        <a zf-close="checkModal" class="button quiz-modal-button" style="background-color: #F04124">Cancel</a>
      </div>
    </div>
  </div>
</div>

<zf-notification-set id="submit-notification" position="top-right" class="fail"></zf-notification-set>
